
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>

</head>
<body>
<h1>Posts</h1><a href="/posts">Ir a Posts</a>

<div th:each="post : ${posts}" >

    <p>---------------------------------------------------------------------------------------------------------</p>
    <h4>Post</h4> <p th:text="${post.id}"></p>
    <p th:text="${post.titulo}"></p>
     <p th:text="${post.text}"></p>
    <p th:text="${post.fecha}"></p>
    <p th:text="${post.likes}"></p>
    <p th:text="${post.usuario.name}"></p>
    <p>---------------------------------------------------------------------------------------------------------</p>


</div>
</body>
</html>