<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Nuevo Post</h1>
<form action="/post" method="POST">
     <textarea name="titulo" id="titulo" cols="30" rows="1">
    </textarea>
    <br>
    <textarea name="text" id="text" cols="30" rows="10">
    </textarea>
    <br>
    <!--<p>Fecha:</p>-->

    <!--<input type="date" name="fecha" min="2001-03-25" max="2050-05-25" step="2">-->
    <!--<br>-->


    <select name="postCategory" id="postCategory">
        <option th:each="postCategory : ${postCategories}" th:value="${postCategory.id}" th:text="${postCategory.name}"></option>
    </select>
    <select name="usuario" id="usuario">
        <option th:each="usuario : ${usuarios}" th:value="${usuario.id}" th:text="${usuario.name}"></option>
    </select>
    <input type="submit" value="Guardar"></input>
</form>

</body>
</html>

