<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Post</h1>


<b>Titulo:</b> <p th:text="${post.titulo}"></p>
<b>Id:</b> <p th:text="${post.id}"></p>
<b>Texto:</b> <p th:text="${post.text}"></p>
<b>Categoria:</b> <p th:text="${post.postCategory.name}"></p>
<b>Usuario:</b> <p th:text="${post.usuario.name}"></p>

<b>Likes:</b>  <p th:text="${post.likes}"></p>
<a th:href="${'/like/' + post.id}">Like</a>
<a th:href="${'/dislike/' + post.id}">Dislike</a>

<form action="/coment" method="POST">
    <input type="hidden" name="post" th:value="${post.id}">
    <textarea name="text" id="text" cols="30" rows="10"></textarea>
    <br>
    <input type="submit" value="Guardar"></input>
</form>
<p th:each="coment : ${post.coments}" >
    <span th:text="${coment.fecha}"></span>
    <span th:text="${coment.text}"></span>
    <span th:text="${coment.likes}"></span>
    <a th:href="${'/commentlike/' + coment.id}">like</a>
    <a th:href="${'/commentdislike/' + coment.id}">Dislike</a>

</p>

</body>
</html>